.report-layout {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #66ffff;
    height: 100%;
    padding: 20px;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
    color: #000;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 15px;
}

.sidebar ul li a {
    font-size: 16px;
    color: #000;
    text-decoration: none;
}

.sidebar ul li a:hover {
    color: #00ffff;
}

.report-content {
    flex: 1;
    padding: 20px;
    background-color: #ffffff;
}
